.float-left {
    float: left;
}

.yellow-button {
    font-size: $size-20;
    padding: 10px 30px;
    background: $yellow;
    color: $white;
    text-decoration: none;
}

.yellow-button:hover,
.yellow-button:visited,
.yellow-button:focus,
.yellow-button:active {
    color: $white;
    text-decoration: none;
}

.underlined-title {
    font-size: $size-34;
    color: $black;
    text-decoration: underline;
    text-decoration-color: $gray;
    text-align: center;
    font-weight: bold;
}

.display-none {
    display: none;
}

.rounded-button {
    font-family: "Montserrat Bold";
    font-size: $size-16;
    color: $black;
    background: $light-gray-button;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.rounded-button:hover {
    color: $black;
    text-decoration: none;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.cursor-pointer {
    cursor: pointer
}