// Fonts
$default-font: "Myriad Pro";
$glyphicons-font: "Glyphicons Halflings";

// Font sizes
$size-12: 12px;
$size-16: 16px;
$size-20: 20px;
$size-26: 26px;
$size-34: 34px;

// Colors
$black-background:      #2e2e2e;
$yellow:                #f9c32b;
$white:                 #fff;
$black:                 #000;
$green:                 #106443;
$light-gray-border:     #eaecef;
$light-gray-background: #f1f4f9;
$light-gray-button:     #dfe2e7;
$gray:                  #777;
$blue:                  #2d3740;

// Header
$header-height: 250px;
$header-image: "../images/header.png";

// Navbar
$navbar-height: 50px;
$logo-height: 35px;

// Fast calculator