@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/Myriad-Pro-Regular.ttf"); }
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.ttf"); }
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf"); }
.float-left {
  float: left; }

.yellow-button {
  font-size: 20px;
  padding: 10px 30px;
  background: #f9c32b;
  color: #fff;
  text-decoration: none; }

.yellow-button:hover,
.yellow-button:visited,
.yellow-button:focus,
.yellow-button:active {
  color: #fff;
  text-decoration: none; }

.underlined-title {
  font-size: 34px;
  color: #000;
  text-decoration: underline;
  text-decoration-color: #777;
  text-align: center;
  font-weight: bold; }

.display-none {
  display: none; }

.rounded-button {
  font-family: "Montserrat Bold", "Helvetica";
  font-size: 16px;
  color: #000;
  background: #dfe2e7;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  border: none; }

.rounded-button:hover {
  color: #000;
  text-decoration: none; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.cursor-pointer {
  cursor: pointer; }

body {
  font-family: "Myriad Pro", Helvetica; }

.main-header {
  height: 250px;
  background: url("../images/header.png") no-repeat center 25px;
  background-size: cover; }
  .main-header .main-navigation {
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    background: #2e2e2e;
    top: 0; }
    .main-header .main-navigation ul {
      margin-top: 0; }
      .main-header .main-navigation ul li {
        float: left; }
        .main-header .main-navigation ul li a {
          color: #f9c32b !important;
          padding-top: 3px !important; }
    .main-header .main-navigation ul#language-interface {
      list-style: none;
      float: left; }
      .main-header .main-navigation ul#language-interface li {
        float: left;
        margin-right: 15px; }
      .main-header .main-navigation ul#language-interface li:last-child {
        margin-right: 0; }

body.admin-logged-in .main-header .main-navigation {
  top: 30px !important; }

body.admin-logged-in.toolbar-drawer .main-header .main-navigation {
  top: 64px !important; }

@media (max-width: 768px) {
  .main-header {
    background: none;
    height: 25px; } }
.main-navigation {
  background: #106443;
  border: none;
  outline: none;
  border-radius: 0;
  color: #fff;
  overflow: hidden;
  margin-bottom: 0; }
  .main-navigation .container .navbar-header a.navbar-brand {
    padding: 0;
    margin-right: 15px; }
    .main-navigation .container .navbar-header a.navbar-brand img {
      height: calc(100% - 5px);
      margin-top: 5px; }
  .main-navigation .container .navbar-header a.call-us-small {
    height: 34px;
    background: #fff;
    color: #000;
    padding: 3px 10px; }
    .main-navigation .container .navbar-header a.call-us-small .call-us-icon {
      font-size: 26px;
      color: #777; }
  .main-navigation .container .collapse.navbar-collapse {
    text-align: center; }
    .main-navigation .container .collapse.navbar-collapse ul.nav.navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top; }
      .main-navigation .container .collapse.navbar-collapse ul.nav.navbar-nav li a {
        color: #fff;
        background: none;
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
        outline: none; }
      .main-navigation .container .collapse.navbar-collapse ul.nav.navbar-nav li.active,
      .main-navigation .container .collapse.navbar-collapse ul.nav.navbar-nav li:hover {
        background: none; }
    .main-navigation .container .collapse.navbar-collapse ul.nav.navbar-nav.navbar-right li a {
      height: 50px;
      background: #fff;
      color: #000;
      padding-top: 0; }
      .main-navigation .container .collapse.navbar-collapse ul.nav.navbar-nav.navbar-right li a .call-us-icon {
        font-size: 26px;
        color: #777;
        margin: 10px 10px 0 0; }
      .main-navigation .container .collapse.navbar-collapse ul.nav.navbar-nav.navbar-right li a .call-us-phone {
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px; }

.main-navigation.affix {
  top: 25px;
  width: 100%;
  z-index: 999;
  margin-bottom: -45px; }

body.admin-logged-in .main-navigation.affix {
  top: 55px; }

body.admin-logged-in.toolbar-drawer .main-navigation.affix {
  top: 89px; }

@media (max-width: 991px) {
  .main-navigation .container .collapse.navbar-collapse ul.nav.navbar-nav.navbar-right {
    display: none; } }
@media (max-width: 768px) {
  .main-navigation {
    position: fixed;
    top: 25px;
    width: 100%;
    z-index: 999; }

  body {
    padding-top: 50px !important; }

  body.admin-logged-in {
    padding-top: 80px !important; }
    body.admin-logged-in .main-navigation {
      top: 55px; }

  body.admin-logged-in.toolbar-drawer {
    padding-top: 104px !important; }
    body.admin-logged-in.toolbar-drawer .main-navigation {
      top: 89px; } }
@media (max-width: 344px) {
  .main-navigation .container .navbar-header a.call-us-small {
    display: none; } }
.cars-radio-buttons label, .fast-calculator .deliver-your-car .calculate-price .cars-per-container .select-cars-per-container label, .fast-calculator .deliver-your-car .calculate-price .load-type .select-load-type label {
  font-size: 16px;
  margin: 10px 0; }
.cars-radio-buttons label:first-child, .fast-calculator .deliver-your-car .calculate-price .cars-per-container .select-cars-per-container label:first-child, .fast-calculator .deliver-your-car .calculate-price .load-type .select-load-type label:first-child {
  margin-top: 0; }
.cars-radio-buttons label:last-child, .fast-calculator .deliver-your-car .calculate-price .cars-per-container .select-cars-per-container label:last-child, .fast-calculator .deliver-your-car .calculate-price .load-type .select-load-type label:last-child {
  margin-bottom: 0; }
.cars-radio-buttons img, .fast-calculator .deliver-your-car .calculate-price .cars-per-container .select-cars-per-container img, .fast-calculator .deliver-your-car .calculate-price .load-type .select-load-type img {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px; }

.fast-calculator {
  background: #2e2e2e;
  padding-bottom: 30px; }
  .fast-calculator .deliver-your-car .deliver-your-car-text {
    font-size: 26px;
    color: #f9c32b;
    padding: 20px 0 10px 0; }
  .fast-calculator .deliver-your-car .calculate-price {
    background: #fff;
    padding: 15px 15px 0 15px; }
    .fast-calculator .deliver-your-car .calculate-price .calculate-price-title {
      font-size: 16px;
      color: #000; }
    .fast-calculator .deliver-your-car .calculate-price .internal-options .select-wrapper {
      width: 100%;
      overflow: hidden;
      border: 1px solid #eaecef;
      margin-bottom: 19px;
      padding: 13px 7px;
      background: #f1f4f9;
      color: #c00909; }
      .fast-calculator .deliver-your-car .calculate-price .internal-options .select-wrapper select {
        width: 107%;
        background: none;
        outline: none;
        border: none;
        font-size: 16px; }
    .fast-calculator .deliver-your-car .calculate-price .internal-options .select-wrapper:hover,
    .fast-calculator .deliver-your-car .calculate-price .internal-options .select-wrapper select:hover {
      cursor: pointer; }
    .fast-calculator .deliver-your-car .calculate-price .cars-per-container .total-rates .rate {
      margin: 20px 0;
      display: block;
      min-height: 45px; }
    .fast-calculator .deliver-your-car .calculate-price .cars-per-container .total-rates .rate-label {
      width: 150px;
      background: #2e2e2e;
      padding: 12px;
      color: #fff;
      font-size: 16px; }
    .fast-calculator .deliver-your-car .calculate-price .cars-per-container .total-rates .right-triangle {
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #2e2e2e;
      margin-top: 7px; }
    .fast-calculator .deliver-your-car .calculate-price .cars-per-container .total-rates .rate-price {
      font-size: 16px;
      margin: 12px 0 0 25px; }
    .fast-calculator .deliver-your-car .calculate-price .cars-per-container .total-rates .rate.total-rate .rate-label {
      background: #f9c32b; }
    .fast-calculator .deliver-your-car .calculate-price .cars-per-container .total-rates .rate.total-rate .right-triangle {
      border-left-color: #f9c32b; }
    .fast-calculator .deliver-your-car .calculate-price .cars-per-container .total-rates .rate.total-rate .rate-price {
      color: #f9c32b;
      font-weight: bold; }
  .fast-calculator .deliver-your-car .calculation-note {
    color: #777;
    padding-top: 20px;
    font-size: 12px; }

.order-steps {
  padding: 50px 0 20px 0; }
  .order-steps .order-steps-title-button p {
    font-size: 34px; }
  .order-steps .order-steps-title-button a {
    display: inline-block;
    margin-top: 15px; }
  .order-steps .order-step {
    height: 70px;
    border: 1px solid #dedede;
    margin-bottom: 30px;
    -webkit-box-shadow: -1px -1px 10px 0px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: -1px -1px 10px 0px rgba(119, 119, 119, 0.6);
    box-shadow: -1px -1px 10px 0px rgba(119, 119, 119, 0.6); }
    .order-steps .order-step img {
      height: 40px;
      margin: 10px; }
    .order-steps .order-step p {
      font-size: 16px;
      margin-top: 20px; }

@media (max-width: 768px) {
  .order-steps {
    padding: 20px 0 0 0; }
    .order-steps .order-steps-title-button p {
      margin-bottom: 20px; } }
.check-our-cars {
  margin-bottom: 35px; }

.multi-item-carousel {
  width: calc(100% - 80px);
  margin: auto; }
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left; }
    .multi-item-carousel .carousel-inner > .item a img {
      width: 100%;
      border-radius: 8px; }
    .multi-item-carousel .carousel-inner > .item a p {
      font-weight: bold; }
    .multi-item-carousel .carousel-inner > .item a p.car-brand {
      font-size: 26px;
      color: #000;
      margin-top: 10px; }
    .multi-item-carousel .carousel-inner > .item a p.car-price {
      font-size: 20px;
      color: #f9c32b;
      margin-top: -10px;
      margin-bottom: 0; }
    .multi-item-carousel .carousel-inner > .item a:hover {
      text-decoration: none; }
  .multi-item-carousel .carousel-inner .active.left {
    left: -33.33%; }
  .multi-item-carousel .carousel-inner .active.right {
    left: 33.33%; }
  .multi-item-carousel .carousel-inner .next {
    left: 33.33%; }
  .multi-item-carousel .carousel-inner .prev {
    left: -33.33%; }
  @media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
      transition: 500ms ease-in-out all;
      backface-visibility: visible;
      transform: none !important; } }
  .multi-item-carousel .carousel-control.left,
  .multi-item-carousel .carousel-control.right {
    width: 30px;
    background: #f1f4f9;
    color: #777;
    opacity: 1;
    text-shadow: none;
    font-weight: lighter; }
  .multi-item-carousel .carousel-control.left {
    border-radius: 8px 3px 3px 8px;
    margin-left: -25px; }
  .multi-item-carousel .carousel-control.right {
    border-radius: 3px 8px 8px 3px;
    margin-right: -25px; }

@media (max-width: 425px) {
  .multi-item-carousel .carousel-inner .item div {
    width: 100%; } }
.testimonials .carousel ol.carousel-indicators {
  bottom: -30px; }
  .testimonials .carousel ol.carousel-indicators li {
    background: #777; }
  .testimonials .carousel ol.carousel-indicators li.active {
    background: #f9c32b; }
.testimonials .carousel .carousel-inner .item img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  margin: 10px auto 0 auto; }
.testimonials .carousel .carousel-inner .item p {
  font-size: 16px;
  text-align: center;
  margin-top: 15px; }

.footer {
  background: #2d3740;
  margin-top: 60px;
  padding: 20px 0; }
  .footer ul.menu-items {
    list-style: none; }
    .footer ul.menu-items li {
      margin: 10px 0; }
      .footer ul.menu-items li a {
        position: relative;
        width: auto;
        color: #fff;
        font-size: 16px;
        text-decoration: none; }

.locations {
  padding-top: 10px; }
  .locations .location {
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
    padding-left: 50px; }
    .locations .location span {
      display: block; }
    .locations .location span.address a {
      text-decoration: none;
      color: #f9c32b;
      cursor: pointer; }
    .locations .location span.glyphicon {
      font-size: 26px;
      float: left;
      margin-right: 10px;
      margin-top: 30px;
      margin-left: -55px; }
  .locations .location:last-child {
    margin-bottom: 0; }

.our-cars-list .car-item {
  background: #f1f4f9;
  margin-bottom: 35px; }
  .our-cars-list .car-item .car-image img {
    width: 350px;
    height: 300px;
    margin-right: 20px; }
  .our-cars-list .car-item .car-image p.sold {
    position: absolute;
    font-size: 100px;
    color: #c00909;
    font-weight: bold;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin: 75px 0 0 65px; }
  .our-cars-list .car-item .car-info {
    min-height: 300px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px; }
    .our-cars-list .car-item .car-info p.title {
      font-family: "Montserrat Bold", "Helvetica";
      font-size: 26px; }
    .our-cars-list .car-item .car-info span.actions {
      float: right;
      margin-top: -65px; }
    .our-cars-list .car-item .car-info p.price {
      font-size: 20px;
      font-family: "Montserrat Bold", "Helvetica";
      color: #c00909; }
    .our-cars-list .car-item .car-info p.description {
      font-size: 16px;
      font-family: "Montserrat Regular", "Helvetica"; }
    .our-cars-list .car-item .car-info p.specifications {
      font-size: 16px;
      font-family: "Montserrat Bold", "Helvetica";
      margin-right: 10px; }
      .our-cars-list .car-item .car-info p.specifications span.specification-item {
        margin-right: 40px; }
      .our-cars-list .car-item .car-info p.specifications span.specification-item:last-child {
        margin-right: 0; }
    .our-cars-list .car-item .car-info a.show-car-details {
      display: inline-block;
      margin-top: 15px;
      margin-right: 15px; }
    .our-cars-list .car-item .car-info a.order {
      display: inline-block;
      margin-top: 15px;
      background: #f9c32b;
      color: #fff; }
  .our-cars-list .car-item .cars-images-slider {
    padding: 20px 0; }
    .our-cars-list .car-item .cars-images-slider .carousel {
      width: calc(100% - 60px); }
      .our-cars-list .car-item .cars-images-slider .carousel .carousel-control.left,
      .our-cars-list .car-item .cars-images-slider .carousel .carousel-control.right {
        background: none; }

.our-cars-list:first-child {
  padding-top: 35px; }

@media (max-width: 991px) {
  .our-cars-list .car-item .car-info span.actions {
    float: initial;
    margin-top: -20px;
    display: block;
    height: 60px; }
  .our-cars-list .car-item .car-info p.specifications span.specification-item {
    display: block;
    margin-bottom: 15px; }
  .our-cars-list .car-item .car-info p.specifications span.specification-item:last-child {
    margin-bottom: 0; } }
@media (max-width: 640px) {
  .our-cars-list .car-item .car-image img {
    width: 100%; }
  .our-cars-list .car-item .car-info {
    padding: 20px; } }
.paginator {
  text-align: center; }
  .paginator a {
    font-family: "Montserrat Bold", "Helvetica";
    font-size: 16px;
    color: #000;
    background: #f1f4f9;
    text-decoration: none;
    padding: 13px 16px;
    margin-right: 7px; }
  .paginator a.active {
    background: #f9c32b;
    color: #fff; }
  .paginator a:last-child {
    margin-right: 0; }

div.contact-form {
  margin: 25px 0;
  text-align: center; }
  div.contact-form p.title {
    font-size: 34px;
    font-weight: bold;
    color: #000; }
  div.contact-form .contact-form-wrapper {
    margin-top: 25px;
    background: #f9c32b;
    padding: 20px;
    border-radius: 8px; }
    div.contact-form .contact-form-wrapper p.field-label,
    div.contact-form .contact-form-wrapper label {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 20px; }
    div.contact-form .contact-form-wrapper textarea,
    div.contact-form .contact-form-wrapper input[type=text],
    div.contact-form .contact-form-wrapper input[type=email],
    div.contact-form .contact-form-wrapper input[type=password] {
      width: 100%;
      font-size: 16px;
      padding: 20px 7px;
      border-radius: 5px;
      border: none;
      outline: none;
      margin-bottom: 20px; }
    div.contact-form .contact-form-wrapper textarea {
      height: 170px;
      resize: none;
      padding: 7px; }
    div.contact-form .contact-form-wrapper input[type=submit],
    div.contact-form .contact-form-wrapper button[type=submit] {
      background: #2e2e2e;
      color: #fff;
      border: none;
      outline: none; }

.short-contacts {
  background: #f1f4f9;
  padding: 20px 0;
  border-radius: 8px;
  margin-bottom: 30px; }
  .short-contacts p.title {
    font-size: 16px;
    font-weight: bold;
    color: #000; }
  .short-contacts .locations {
    padding-top: 0; }
    .short-contacts .locations .location {
      color: #000; }

.accordion {
  text-align: left; }
  .accordion .panel {
    background: #f1f4f9;
    border: none;
    margin-bottom: 20px; }
    .accordion .panel .panel-heading {
      background: #f1f4f9;
      padding: 0; }
      .accordion .panel .panel-heading a {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        padding: 10px 15px; }
        .accordion .panel .panel-heading a span {
          float: right; }
    .accordion .panel .panel-body {
      border: none !important;
      font-size: 16px; }
  .accordion .panel:last-child {
    margin-bottom: 0; }

.what-we-offer {
  position: relative;
  background: #2d3740;
  padding-top: 10px;
  padding-bottom: 50px;
  z-index: 1; }
  .what-we-offer .what-we-offer-title {
    font-size: 26px;
    color: #fff; }
  .what-we-offer .offer-item {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
    -webkit-box-shadow: -1px -1px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 15px 0px rgba(0, 0, 0, 0.75); }
    .what-we-offer .offer-item img {
      width: 100%; }
    .what-we-offer .offer-item .offer-item-title {
      font-size: 16px;
      margin-top: 10px; }

.about-us {
  margin: 45px 0; }
  .about-us p {
    font-size: 16px;
    color: #000; }
  .about-us img {
    width: 100%;
    margin: 20px 0; }
  .about-us p.bottom-description {
    text-align: center; }

.contact-form.login-form .contact-form-wrapper {
  background: #f1f4f9;
  padding: 60px 40px 40px 40px; }
  .contact-form.login-form .contact-form-wrapper input {
    margin-bottom: 40px;
    box-sizing: content-box;
    height: 1px; }

.my-cars {
  font-family: "Montserrat Regular", "Helvetica";
  margin: 25px 0; }
  .my-cars p.title {
    font-size: 34px;
    font-weight: bold;
    color: #000;
    margin-bottom: 25px; }
  .my-cars a.make-order {
    float: right;
    font-size: 16px; }
  .my-cars .table tr {
    background: none;
    border: none;
    outline: none; }
    .my-cars .table tr a {
      color: #000;
      cursor: pointer; }
  .my-cars .table tr.table-header {
    background: #f1f4f9; }
  .my-cars .orders-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black; }
    .my-cars .orders-modal .orders-modal-content {
      position: relative;
      margin: auto;
      padding: 0;
      width: 90%;
      max-width: 1200px;
      height: 90%; }
    .my-cars .orders-modal .orders-modal-close {
      color: white;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 35px;
      font-weight: bold; }
    .my-cars .orders-modal .orders-modal-close:hover,
    .my-cars .orders-modal .orders-modal-close:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer; }
    .my-cars .orders-modal .orders-modal-slides {
      display: none;
      height: 100%;
      text-align: center; }
    .my-cars .orders-modal .orders-modal-prev,
    .my-cars .orders-modal .orders-modal-next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
      text-decoration: none; }
    .my-cars .orders-modal .orders-modal-next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    .my-cars .orders-modal .orders-modal-prev:hover,
    .my-cars .orders-modal .orders-modal-next:hover {
      background-color: rgba(0, 0, 0, 0.8); }
    .my-cars .orders-modal .orders-modal-numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: -50px; }
    .my-cars .orders-modal img {
      height: 100%;
      margin-bottom: -4px; }

.marytrans-modal-popup .modal-dialog .modal-content {
  background: #f1f4f9;
  border: none;
  outline: none; }
  .marytrans-modal-popup .modal-dialog .modal-content .modal-header h4 {
    text-align: center;
    font-weight: bold;
    color: #000; }
  .marytrans-modal-popup .modal-dialog .modal-content .modal-body textarea,
  .marytrans-modal-popup .modal-dialog .modal-content .modal-body input[type=text],
  .marytrans-modal-popup .modal-dialog .modal-content .modal-body input[type=email],
  .marytrans-modal-popup .modal-dialog .modal-content .modal-body input[type=password] {
    width: 100%;
    font-size: 16px;
    padding: 7px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 20px; }
  .marytrans-modal-popup .modal-dialog .modal-content .modal-body textarea {
    height: 170px;
    resize: none; }
  .marytrans-modal-popup .modal-dialog .modal-content .modal-body input[type=submit],
  .marytrans-modal-popup .modal-dialog .modal-content .modal-body button[type=submit] {
    background: #2e2e2e;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px; }
    .marytrans-modal-popup .modal-dialog .modal-content .modal-body input[type=submit] span,
    .marytrans-modal-popup .modal-dialog .modal-content .modal-body button[type=submit] span {
      display: none; }
  .marytrans-modal-popup .modal-dialog .modal-content .modal-body table tr p.order-details-item {
    font-size: 20px; }
    .marytrans-modal-popup .modal-dialog .modal-content .modal-body table tr p.order-details-item span {
      font-size: 16px;
      margin-left: 15px; }
  .marytrans-modal-popup .modal-dialog .modal-content .modal-body table tr:first-child td {
    border-top: none; }

.prices-and-fees {
  margin-top: 25px; }
  .prices-and-fees p.title {
    font-size: 34px;
    font-weight: bold;
    color: #000;
    margin-bottom: 25px; }
  .prices-and-fees .price-block {
    border-bottom: 2px dotted #000;
    padding: 20px 0; }
    .prices-and-fees .price-block .price-block-description {
      font-size: 16px;
      padding-top: 3px; }
      .prices-and-fees .price-block .price-block-description span.price {
        font-size: 20px;
        color: #f9c32b; }
  .prices-and-fees .price-block:last-child {
    border-bottom: none; }

/*# sourceMappingURL=main.css.map */
