.our-cars-list {
    .car-item {
        background: $light-gray-background;
        margin-bottom: 35px;

        .car-image {
            img {
                width: 350px;
                height: 300px;
                margin-right: 20px;
            }

            p.sold {
                position: absolute;
                font-size: 100px;
                color: $red;
                font-weight: bold;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                margin: 75px 0 0 65px;
            }
        }

        .car-info {
            min-height: 300px;
            padding-top: 20px;
            padding-right: 20px;
            padding-bottom: 20px;

            p.title {
                font-family: "Montserrat Bold", "Helvetica";
                font-size: $size-26;
            }

            span.actions {
                float: right;
                margin-top: -65px;
            }

            p.price {
                font-size: $size-20;
                font-family: "Montserrat Bold", "Helvetica";
                //color: $yellow;
                color: $red;
            }

            p.description {
                font-size: $size-16;
                font-family: "Montserrat Regular", "Helvetica";
            }

            p.specifications {
                font-size: $size-16;
                font-family: "Montserrat Bold", "Helvetica";
                margin-right: 10px;

                span.specification-item {
                    margin-right: 40px;
                }

                span.specification-item:last-child {
                    margin-right: 0;
                }
            }

            a.show-car-details {
                display: inline-block;
                margin-top: 15px;
                margin-right: 15px;
            }

            a.order {
                display: inline-block;
                margin-top: 15px;
                background: $yellow;
                color: $white;
            }
        }

        .cars-images-slider {
            padding: 20px 0;

            .carousel {
                width: calc(100% - 60px);

                .carousel-control.left,
                .carousel-control.right {
                    background: none;
                }
            }
        }
    }
}

.our-cars-list:first-child {
    padding-top: 35px;
}

@media (max-width: 991px) {
    .our-cars-list {
        .car-item {
            .car-info {
                span.actions {
                    float: initial;
                    margin-top: -20px;
                    display: block;
                    height: 60px;
                }

                p.specifications {
                    span.specification-item {
                        display: block;
                        margin-bottom: 15px;
                    }

                    span.specification-item:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .our-cars-list {
        .car-item {
            .car-image {
                img {
                    width: 100%;
                }
            }

            .car-info {
                padding: 20px;
            }
        }
    }
}