.main-header {
    height: $header-height;
    background: url($header-image) no-repeat center 25px;
    background-size: cover;

    .main-navigation {
        height: 25px;
        min-height: 25px;
        max-height: 25px;
        background: $black-background;
        top: 0;

        ul {
            li {
                a {
                    color: $yellow !important;
                    padding-top: 3px !important;
                }
            }
        }

        ul#language-interface {
            list-style: none;
            float: left;

            li {
                float: left;
                margin-right: 15px;
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }
}

body.admin-logged-in {
    .main-header {
        .main-navigation {
            top: 30px !important;
        }
    }
}

body.admin-logged-in.toolbar-drawer {
    .main-header {
        .main-navigation {
            top: 64px !important;
        }
    }
}

@media (max-width: 768px) {
    .main-header {
        background: none;
        height: 25px;
    }
}