.contact-form.login-form {
    .contact-form-wrapper {
        background: $light-gray-background;
        padding: 60px 40px 40px 40px;

        input {
            margin-bottom: 40px;
            box-sizing: content-box;
        }
    }
}