.marytrans-modal-popup {
    .modal-dialog {
        .modal-content {
            background: $light-gray-background;
            border: none;
            outline: none;

            .modal-header {
                h4 {
                    text-align: center;
                    font-weight: bold;
                    color: $black;
                }
            }

            .modal-body {
                textarea,
                input[type=text],
                input[type=email],
                input[type=password] {
                    width: 100%;
                    font-size: $size-16;
                    padding: 7px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    margin-bottom: 20px;
                }

                textarea {
                    height: 170px;
                    resize: none;
                }

                input[type=submit],
                button[type=submit] {
                    background: $black-background;
                    color: $white;
                    border: none;
                    outline: none;
                    font-size: $size-16;

                    span {
                        display: none;
                    }
                }

                table {
                    tr {
                        p.order-details-item {
                            font-size: $size-20;

                            span {
                                font-size: $size-16;
                                margin-left: 15px;
                            }
                        }
                    }

                    tr:first-child td {
                        border-top: none;
                    }
                }
            }
        }
    }
}