.main-navigation {
    background: $green;
    border: none;
    outline: none;
    border-radius: 0;
    color: $white;
    overflow: hidden;
    margin-bottom: 0;

    .container {
        .navbar-header {
            a.navbar-brand {
                padding: 0;
                margin-right: 15px;

                img {
                    height: calc(100% - 5px);
                    margin-top: 5px;
                }
            }

            a.call-us-small {
                height: 34px;
                background: $white;
                color: $black;
                padding: 3px 10px;

                .call-us-icon {
                    font-size: $size-26;
                    color: $gray;
                }
            }
        }

        .collapse.navbar-collapse {
            text-align: center;

            ul.nav.navbar-nav {
                display: inline-block;
                float: none;
                vertical-align: top;

                li {
                    a {
                        color: $white;
                        background: none;
                        font-size: $size-16;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        outline: none;
                    }
                }

                li.active,
                li:hover {
                    background: none;
                }
            }

            ul.nav.navbar-nav.navbar-right {
                li {
                    a {
                        height: $navbar-height;
                        background: $white;
                        color: $black;
                        padding-top: 0;

                        .call-us-icon {
                            font-size: $size-26;
                            color: $gray;
                            margin: 10px 10px 0 0;
                        }

                        .call-us-phone {
                            font-weight: bold;
                            font-size: $size-20;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

.main-navigation.affix {
    top: 25px;
    width: 100%;
    z-index: 999;
    margin-bottom: -45px;
}

body.admin-logged-in {
    .main-navigation.affix {
        top: 55px;
    }
}

body.admin-logged-in.toolbar-drawer {
    .main-navigation.affix {
        top: 89px;
    }
}

@media (max-width: 991px) {
    .main-navigation {
        .container {
            .collapse.navbar-collapse {
                ul.nav.navbar-nav.navbar-right {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main-navigation {
        position: fixed;
        top: 25px;
        width: 100%;
        z-index: 999;
    }

    body {
        padding-top: 50px !important;
    }

    body.admin-logged-in {
        padding-top: 80px !important;

        .main-navigation {
            top: 55px;
        }
    }

    body.admin-logged-in.toolbar-drawer {
        padding-top: 104px !important;

        .main-navigation {
            top: 89px;
        }
    }
}

@media (max-width: 344px) {
    .main-navigation {
        .container {
            .navbar-header {
                a.call-us-small {
                    display: none;
                }
            }
        }
    }
}